.auth_label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.auth_form {
    margin-bottom: 12px;
}

.question_text{
    display: inline-block;
    margin-right: 7px;
}

.auth-btn {
    position: relative;
    min-width: 80px;
    min-height: 40px;
}